<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="/mnt/d/TI/git/e-chamado/.nuget/packages" />
    <add key="DisableImplicitNuGetFallbackFolder" value="true" />
  </config>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>
