@page "/register"

@layout HeadlessLayout

<PageTitle>EChamado - Login</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <h1>Criar conta</h1>

            <MudForm @ref="_mudForm">
                @* <DataAnnotationsValidator /> *@

                <MudTextField T="string"
                              Class="pt-2"
                              Label="Email"
                              Placeholder="Digite seu email"
                              HelperText="Campo obrigatório"
                              InputType="InputType.Email"
                              Validation="@(new EmailAddressAttribute{  ErrorMessage="E-mail inválido"})" />

                <MudTextField T="string"
                              Class="pt-2"
                              Label="Senha"
                              Placeholder="Digite sua senha"
                              HelperText="Campo obrigatório"
                              InputType="InputType.Password" />

                <div class="d-flex mt-8">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary">Criar Conta</MudButton>
                    <MudSpacer />
                    <MudButton Href="/login" 
                        Variant="Variant.Filled"
                               Color="Color.Secondary">
                        Login
                    </MudButton>
                </div>

            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    MudForm? _mudForm;
}
